@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* for SP screen( max-width:749px)
---------------------------------- */

@media screen and (max-width:749px) {
    /* Initialize
---------------------------------- */
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        font-size: 100%;
        vertical-align: baseline;
    }
    body {
        line-height: 1;
    }
    html,
    body {
        scroll-behavior: smooth;
    }
    ol,
    ul {
        list-style: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    q,
    blockquote {
        quotes: none;
    }
    a img {
        border: none;
    }
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
        display: block;
    }
    .show_pc {
        display: none;
    }
    .show_sp {
        display: block;
    }
    /* body
---------------------------------- */
    html {
        height: 100%;
        font-size: 62.5%;
    }
    body {
        height: 100%;
        margin: 0 auto;
        background-color: #000;
        color: #646464;
        font-family: sans-serif;
        font-size: 2rem;
        letter-spacing: 0.2em;
        line-height: 1.8;
        -webkit-text-size-adjust: 100%;
        max-width: 749px;
    }
    a {
        color: #646464;
        text-decoration: none;
    }
    a:hover {
        color: #646464;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }
    section {
        margin-top: 100px;
    }
    .center_area {
        margin: 0 auto;
        position: relative;
        width: 100%;
    }
    .title_sec {
        font-size: 3.6rem;
        margin: 50px 0 40px;
        position: relative;
        text-align: center;
        color: #fff;
        letter-spacing: 0.1em;
        line-height: 1.0em;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }
    .title_sec .title_inner {
        display: inline-block;
        position: relative;
    }
    .title_sec .inview_title span {
        display: inline-block;
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        -moz-transform: matrix(1, 0, 0, 1, 0, 0);
        -ms-transform: matrix(1, 0, 0, 1, 0, 0);
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0);
        -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .title_sec .inview_title span.of {
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        -moz-transform: matrix(5, 0, 0, 1, 50, 0);
        -ms-transform: matrix(5, 0, 0, 1, 50, 0);
        -webkit-transform: matrix(5, 0, 0, 1, 50, 0);
        transform: matrix(5, 0, 0, 1, 50, 0);
    }
    /* header
---------------------------------- */
    #header_sp {
        display: inline-block;
        top: 0;
        width: 100%;
        text-align: right;
        left: 0;
        z-index: 10;
        line-height: 90px;
        background-color: black;
    }
    .inner {
        box-sizing: border-box;
    }
    .header-inner {
        top: 0;
        position: fixed;
        background-color: black;
        width: 100%;
        z-index: 5;
        height: 70px;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
    }
    #menu-wrap {
        background: #ddd;
        width: 40%;
        position: fixed;
        top: 0px;
        right: -70%;
        height: 100%;
        padding: 10px;
        opacity: 0;
        visibility: hidden;
        box-sizing: border-box;
        z-index: 100;
        -webkit-transition: .3s;
        transition: .3s;
    }
    #menu-wrap.is-active {
        opacity: 1;
        visibility: visible;
        right: 0;
    }
    .menu li {
        text-align: center;
        cursor: pointer;
    }
    #body-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        /*
        background: rgba(0, 0, 0, 0.7);
        */
    }
    /* btn-open */
    #btn-open {
        position: relative;
        width: 40px;
        height: 30px;
        cursor: pointer;
        margin-right: 3rem;
    }
    #btn-open span {
        display: block;
        position: absolute;
        background: #FFF;
        width: 100%;
        height: 2px;
        right: 0;
        -webkit-transition: .3s;
        transition: .3s;
    }
    #btn-open .one {
        top: 0;
    }
    #btn-open .two {
        top: 14px;
    }
    #btn-open .three {
        top: 28px;
    }
    .header-inner .logo {
        margin: 0 auto;
        padding-left: 45px;
        position: relative;
    }
    .header-inner .logo h1 {
        color: #FFF;
        display: inline-block;
        font-size: 5vw;
        letter-spacing: 0.1em;
        line-height: 70px;
        padding: 0 10px;
    }
    #btn-close {
        margin: 0 0 0 auto;
        position: relative;
        width: 40px;
        height: 30px;
        cursor: pointer;
    }
    #btn-close span {
        display: block;
        position: absolute;
        background: #FFF;
        width: 100%;
        height: 2px;
        right: 0;
    }
    #btn-close .one {
        transform: rotate(45deg);
        top: 14px;
    }
    #btn-close .two {
        top: 14px;
        transform: rotate(-45deg);
    }
    /* section
---------------------------------- */
    /* sec1 */
    #main_area .sec_1 .title_sec {
        margin: 40px 0;
    }
    #main_area .sec_1 .wrap_about {
        text-align: center;
    }
    #main_area .sec_1 .img_port .img_all {
        left: 0;
        filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        position: absolute;
        top: 0;
        -moz-transition: opacity 0.3s linear;
        -o-transition: opacity 0.3s linear;
        -webkit-transition: opacity 0.3s linear;
        transition: opacity 0.3s linear;
        width: 100%;
    }
    #main_area .sec_1 .img_port .img_all img {
        width: 100%;
    }
    #main_area .sec_1 .img_port .img_1 {
        position: relative;
    }
    #main_area .sec_1 .img_port .on {
        filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
    }
    #main_area .sec_1 .box_text {
        color: #aaa;
        padding: 10px 15px 0 15px;
    }
    #main_area .sec_1 .title {
        letter-spacing: 0.45em;
        line-height: 1.0em;
        font-size: 3.0rem;
    }
    #main_area .sec_1 .text {
        font-size: 1.5rem;
        letter-spacing: 0.15em;
        line-height: 2.15em;
        padding-top: 35px;
    }
    /* sec2 */
    #main_area .sec_2 .wrap_list_works {
        overflow: hidden;
        max-height: 2560px;
        -moz-transition: max-height 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        -o-transition: max-height 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transition: max-height 2s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: max-height 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    #main_area .sec_2 .wrap_list_works+.list_works {
        padding-top: 30px;
        text-align: center;
    }
    #main_area .sec_2 .wrap_list_works li {
        position: relative;
    }
    #main_area .sec_2 .wrap_list_works li+li {
        margin-top: 30px;
    }
    #main_area .sec_2 .work {
        text-align: center;
        margin-bottom: 10px;
    }
    #main_area .sec_2 .wrap_list_works li .title {
        color: #fff;
        font-size: 1.5rem;
        letter-spacing: 0.1em;
        line-height: 1.0em;
        padding: 10px 0 0 20px;
    }
    /* sec3 */
    #main_area .sec_3 {
        position: relative;
        top: 0px;
        background-color: black;
        width: 100%;
        height: 100%;
    }
    #main_area .sec_3 .inner_sec {
        background-color: #000;
        padding: 90px 0;
    }
    #main_area .sec_3 .wrap_skills {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    #main_area .sec_3 .wrap_skills {
        text-align: center;
    }
    #main_area .sec_3 .skill_item img {
        margin: 0 auto;
        width: 100%;
        height: 70%;
        object-fit: contain;
    }
    #main_area .sec_3 .skill_item p {
        font-size: 12px;
    }
    /* sec4 */
    #main_area .sec_4 .wrap_contact {
        text-align: center;
    }
    #main_area .sec_4 .wrap_contact dt {
        text-align: left;
        padding-left: 5%;
    }
    #main_area .sec_4 .wrap_contact .dd_btn {
        position: relative;
    }
    input[type="text"],
    input[type="email"] {
        background-color: #2d3c64;
        border: 0 solid #fff;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
        display: inline-block;
        font-family: sans-serif;
        font-size: 2rem;
        height: 40px;
        letter-spacing: 0.2em;
        padding: 13px 15px 12px;
        line-height: normal;
        -webkit-text-size-adjust: 100%;
        vertical-align: middle;
        width: 90%;
    }
    textarea {
        background-color: #2d3c64;
        border: 0 solid #000;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #fff;
        display: inline-block;
        font-family: sans-serif;
        font-size: 2rem;
        height: 200px;
        letter-spacing: 0.2em;
        padding: 10px 15px;
        line-height: 1.4em;
        width: 90%;
    }
    button,
    input[type="button"],
    input[type="submit"],
    .btn_base {
        -webkit-appearance: none;
        background-color: transparent;
        border: 0 solid #000;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: sans-serif;
        letter-spacing: 0.12em;
        padding: 0;
        position: relative;
        text-align: center;
        text-decoration: none;
        -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        vertical-align: middle;
        font-size: 5.0rem;
        height: 50px;
        line-height: 50px;
        padding-left: 0.2em;
        width: 100px;
        font-size: 20px;
    }
    /* fotter
---------------------------------- */
    #footer_stc {
        width: 100%;
        height: 20px;
        padding-bottom: 10px;
    }
    #footer_stc div {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .copyright {
        text-align: center;
        font-size: 3vw;
    }
}